<h1>Listing performer_acts</h1>

<table>
  <tr>
    <th>Act</th>
    <th>Performer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performer_acts.each do |performer_act| %>
  <tr>
    <td><%= performer_act.act_id %></td>
    <td><%= performer_act.performer_id %></td>
    <td><%= link_to 'Show', performer_act %></td>
    <td><%= link_to 'Edit', edit_performer_act_path(performer_act) %></td>
    <td><%= link_to 'Destroy', performer_act, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Performer act', new_performer_act_path %>
