<div id="nav-bar"></div>
<div id="navbar" class="container">
	<div class="img-contain"><a href="#"><img src="assets/new-pcf-logo.png" id="pcf-logo"></a></div>
	
	
	<div class='nav-day'>
		<ul id="navm" class="nav nav-pills">
		<% @event_date.sort.each do |date, events| %>
			<li class="nav-date">
				<% if date.wday==Date.current.wday %>
					<a href= <%= "#" + date.strftime('%A%m%d') %> >Today</a>
			  <% else %>
					<a href= <%= "#" + date.strftime('%A%m%d') %> ><%= date.strftime('%A') %></a>
			  <% end %>	
			</li>
		<% end %>
		</ul>
	</div>
	
	<div class="btn-group" id="venue-drop">
    <a id="venuefilter" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">All Venues <span class="caret"></span></a>
    <ul id="venuem" class="dropdown-menu" role="menu" aria-labelledby="venuefilter">
      <li><a href="#">All Venues</a></li>
      <li class="divider"></li>
			<% temp = Hash.new %>
      <% Venue.alphabetical.each do |venue| %>
				<% if (!temp.has_key?(venue.name)) %>
      		<li><a href="#"><%= venue.name %></a></li>
					<% temp[venue.name] = 1 %>
				<% end %>
      <% end %>
    </ul>			
	</div>
	
	<div class="btn-group">
		<% if current_user %>
			  <a id="starredfilter" class="btn btn-default" href="#">Starred Events</a>
	  <% end %>
  </div>

	
  <div class="loginnout btn-group">
  
	  <% if user_signed_in? %>
	     <% if current_user.admin? %>
 	      <%= link_to "Imports", imports_path, :class=>"btn btn-default" %>
   	    <% end %>
   	    
	    <%= link_to "Sign Out", destroy_user_session_path, :class=>"btn btn-default" %>
	    
  	  
	  <% else %>
	  
    <div>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sign In <span class="caret"></span>
      </button>
      <ul id= "login" class="dropdown-menu pull-right login-form" role="menu">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <li> <%= f.label :email, :class => "form-label" %><%= f.email_field :email, :autofocus => true, :class => "form-input" %>  </li>
        <li><%= f.label :password, :class => "form-label" %><%= f.password_field :password, :class => "form-input"%></li>
        <% if devise_mapping.rememberable? -%>
          <li><%= f.check_box :remember_me %> <%= f.label :remember_me, :class => "form-label" %></li>
        <% end %>
        <li><%= f.submit "Sign in", :class => "btn btn-default", :id => "form-btn-l" %></li>
        <li><%= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, "facebook"), :class => "btn btn-default", :id => "form-btn-r"%></li>
      </br> <li> Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %></li>
      <% end %>

      </ul>
    </div>
	  <% end %>
  </div>
</div>