<div id="nav-bar"><img src="assets/pcf_logo.png" id="pcf-logo"></div>
<div id="navbar" class="fixed container">
	<ul id="navm" class="nav nav-pills">
		<% @event_date.sort.each do |date, events| %>
			<li >
			 <a href= <%= "#" + date.strftime('%A%m%d') %> ><%= date.strftime('%A %m/%d') %></a>
			</li>
		<% end %>
	</ul>
	<div class="nav">
	    <a id="venuefilter" class="btn dropdown-toggle" data-toggle="dropdown" href="#">Venue<span class="caret"></span></a>
	    <ul id="venuem" class="dropdown-menu">
        <li>
					<a href="#">All</a>
			 	</li>
	      <% Venue.all.each do |venue| %>
	      <li>
					<a href="#"><%= venue.name %></a>
				</li>
	      <% end %>
	    </ul>			
	</div>
  <div class="loginnout">
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?
	    <%= link_to "Sign Out", destroy_user_session_path, :class=>"btn btn-default" %>
	  <% else %>
	    <%= link_to "Sign Up", new_user_registration_path, :class=>"btn btn-default" %>
	    <%= link_to "Sign In", new_user_session_path, :class=>"btn btn-default" %>
	    <%= link_to "Sign In with Facebook", user_omniauth_authorize_path(:facebook), :class=>"btn btn-default" %>
	  <% end %>
  </div>
</div>