<div id="nav-bar"></div>
<div id="navbar" class="container">
	<div class="img-contain"><a href="#"><img src="assets/pcf_logo.png" id="pcf-logo"></a></div>
	
	
	<div class='nav-day'>
		<ul id="navm" class="nav nav-pills">
		<% @event_date.sort.each do |date, events| %>
			<li class="nav-date">
			 <a href= <%= "#" + date.strftime('%A%m%d') %> ><%= date.strftime('%A %A %m/%d') %></a>
			</li>
		<% end %>
		</ul>
	</div>
	
	<div class="btn-group">
	    <a id="venuefilter" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">All Venues<span class="caret"></span></a>
	    <ul id="venuem" class="dropdown-menu">
        <li><a href="#">All Venues</a></li>
        <li class="divider"></li>
	      <% Venue.all.each do |venue| %>
	      	<li><a href="#"><%= venue.name %></a></li>
	      <% end %>
	    </ul>			
	</div>
	
	<% if current_user %>
		<div class="nav-starred">
		  <a id="starredfilter" class="btn" href="#">Starred Events</a>
		</div>
  <% end %>

	
  <div class="loginnout">
  
	  <% if user_signed_in? %>
	     
	    <%= link_to "Sign Out", destroy_user_session_path, :class=>"btn btn-default" %> </p>
	  <% else %>
	  
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sign in <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <li> <%= f.label :email, :style=>"margin:10px;" %> 
        <%= f.email_field :email, :autofocus => true, :style=>"margin:10px;"  %>  </li>  

        <li><%= f.label :password , :style=>"margin:0px 10px;"%>
        <%= f.password_field :password, :style=>"margin:10px;" %></li>

        <% if devise_mapping.rememberable? -%>
          <li><%= f.check_box :remember_me, :style=>"margin:0px 10px;" %> <%= f.label :remember_me %>
        <% end %> </li>
        

        <li><%= f.submit "Sign in", :style=>"margin:0px 10px;" %></li>
      <% end %>
      <li> <%= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, "facebook")%> </li>



      </ul>
    </div>
	  <% end %>
  </div>
</div>