<div id="fb-root"></div>


<h1>Listing events</h1>
<div class="schedule-nav-contain">
	<ul class="schedule-nav">
		<li class="schedule-nav-link">All Events</li>
		<li class="schedule-nav-link">Past Events</li>
		<% @event_date.sort.each do |date, events| %>
			<li class="schedule-nav-link"><%= date.strftime('%A %m/%d') %></li>
		<% end %>
	</ul>
	<div class="venue-drop">
		Venue<span class="caret"></span>
	</div>
</div>

<% @event_date.sort.each do |date, events| %>
  <h2><%= date.strftime('%A %m/%d') %></h2>
  <% for event in events %>
  		<div class="panel-group" id="accordion">
 				<div class="panel panel-default">
 				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#eventid<%=event.id%>">
		    	<div class="event-contain">
			    	<div class="event-contain-left">
			    		<h5><%= event.name.upcase %></h5>
			    	</div>
			    	<div class="event-contain-right">
							<div class="event-contain-right-left">
			    			<%= Venue.find(event.venue_id).name %><br>
							</div>
							<div class="event-contain-right-center">
								<%= event.start_time.strftime('%l:%M %p')%> - <%= event.end_time.strftime('%l:%M %p') %>
							</div>
							<div class="event-contain-right-right">

									<a href="#" 
									  onclick="
									    window.open(
									      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://pittsburghcomedyfestival.org/'), 
									      'facebook-share-dialog', 
									      'width=626,height=436'); 
									    return false;">
									  Share on Facebook
									</a>
									<a href="https://twitter.com/share" class="twitter-share-button" data-text="Very excited for ____ performing in <%= event.name %>" data-url="http://pittsburghcomedyfestival.org/" data-hashtags="PCF2014, PittsburghComedy" data-lang="en">Tweet</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
			    	</div>
		    	</div>
		    	</a>
		    	<div id="eventid<%=event.id%>" class="panel-collapse collapse">
      			<div class="panel-body">
      				<% event.acts.each do |act| %> 
				      	<li><%= act.name %><li>
				      <% end %>
				     </div>
				  </div>
				</div>
			</div>
		  <br>
  <% end %>
<% end %>

<br />

<%= link_to 'New Event', new_event_path %>
