<%= render 'navbar' %>


<div class="container" id="body-container">
	
	<% @event_date.sort.each do |date, events| %>

		  <h2 class="date-header" id=<%= date.strftime('%A%m%d') %> ><%= date.strftime('%A %m/%d') %></h2>
			<div class="panel-group accordion-group" id="<%=date.strftime('%A')%>">
			
				<% for event in events %>

		 			<div class="panel eventspanel">
		 				<a class="accordion-toggle" data-toggle="collapse" data-parent="<%=date.strftime('%A')%>" href="#eventid<%=event.id%>">
				    	<div class="event-contain">
				    	
					    	<div class="event-contain-left">
					    		<h5><%= event.name.upcase %></h5>
					    		
					    		<!-- displaying icons based on the type of acts --> 
					    		<% for act in event.acts %> 
					    			<img class="icon-<%=act.act_type%>" src="/assets/blank.png" alt="<%=act.act_type.capitalize%>" title="<%=act.act_type.capitalize%>">
					    		<% end %> 
					    	</div>
					    	
					    	</a>
					    	<div class="event-contain-right">
									<div class="event-contain-right-left">
										<p id="venuename" class="venue_name"><%= Venue.find(event.venue_id).name %></p>
										<p class="event-performers">
											<% for act in event.acts %>
												<% for pid in act.performer_acts %>
													<%= Performer.find(pid).name %>
												<% end %>
											<% end %>
										</p>
									</div>
									<div class="event-contain-right-center">
										<p class="event_time"><%= event.start_time.strftime('%l:%M %p')%> - <%= event.end_time.strftime('%l:%M %p') %></p>
									</div>
									<div class="event-contain-right-right">
										<div id='star' style="float:left">
											<div id='starred'>
											<% temp = 1 %>
                         <% if current_user %>
                            <% for star in Stared.all %>
                              <% if (star.user_id == current_user.id) %>
                                <% if (star.event_id == event.id) %>
                                  <%= button_to "", star, :method => :delete, :class => "star_filled" %>
                                  <% temp = 0 %>
                                <% end %>

                              <% end %>
                             <% end %>
                            </div>
                            <div id='unstarred'>
                               <% if temp == 1 %>
                                 <%= form_for Stared.new do |f| %>  
                                   <%=  f.hidden_field :event_id, :value => event.id %>
                                    <%=  f.hidden_field :user_id, :value => current_user.id %>
                                       <%=  image_submit_tag("star_unfilled.png", :class => "star_unfilled")  %>
                                <% end %>
                                  <% end %>
                                  <% else %>
                                    <%=  link_to image_tag("star_unfilled.png", :class => "star_unfilled"), new_user_session_path  %>
                                  <% end %>
											</div>
										</div>
										
										<img src="assets/facebook.png" class="social-icon" href="#" onclick="
												window.open(
												'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://pittsburghcomedyfestival.org/'),	'facebook-share-dialog','width=626,height=436'); return false;"></img>

										<a target="_blank" href="https://twitter.com/share?text=Very%20excited%20to%20see%20<% for act in event.acts %><% for pid in act.performer_acts %><%= Performer.find(pid).name %><%end%><%end%>%20in%20<%= event.name %>!!&url=http://pittsburghcomedyfestival.org/&hashtags=PCF2014,PittsburghComedy" data-lang="en"><img src="assets/twitter.png" class="social-icon"></a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
									</div>
									<div class="event-description">
										<p class="description"><%= event.description.html_safe %> </p>
									</div>
								</div>
							</div>
						<div class="panel-collapse collapse act-contain" id="eventid<%=event.id%>" >
						  <% event.acts.each do |act| %> 
							  <div class="act-left">
									<%= act.name.upcase %>
									<a class="fancybox" rel="group" href="/assets/Louis_ck.jpeg"><img class="act_image" src="/assets/Louis_ck.jpeg"></a>
									<img class="icon-<%= act.act_type %> icon_image" src="/assets/blank.png">
								</div>
								<div class="act-right">
									<%= act.description.html_safe %> 
									
                  
									</br> 
									<p> For more information about this act visit 
									<%= link_to image_tag("/assets/facebook.png", :class => "social-icon", :target =>'_blank'), act.facebook, :target => '_blank', :alt => "Act facebook page" %>
									<%= link_to image_tag("/assets/twitter.png", :class => "social-icon", :target => '_blank'), act.twitter, :target => '_blank', :alt => "Act twitter page" %>
									<%= link_to image_tag("/assets/website.png", :class => "social-icon"), act.url, :target => '_blank', :alt => "Act website" %>
									
									</p>
									<% for pid in act.performer_acts %>
										<%= Performer.find(pid).name %>
									<% end %>
								</div>
							<% end %>
						</div>
						
					</div>
					
					<br>
					<% if date <= Date.current %>
		  			<script>
		  				  $( ".event-contain" ).css("background-color", "#CFCFCF");
								$( ".panel-collapse" ).css("background-color", "#BABABA");
								$( ".eventspanel" ).css("background-color", "#999999");
								$( ".eventspanel" ).css("border", "1px solid transparent");
		  			</script>
					<% elsif date == Date.current%>
							<% if event.end_time<Time.current %>
				  			<script>
				  			  $( ".event-contain" ).css("background-color", "#CFCFCF");
									$( ".event-contain" ).css("background-color", "#BABABA");
									$( ".eventspanel" ).css("background-color", "#999999");
									$( ".eventspanel" ).css("border", "1px solid transparent");
				  			</script>
				  		<% end %>
				  <% end %>	
				<% end %>
				
				  <!-- 	<% if date<=Date.current %>
				  		<script>
				  		$( "#<%= date.strftime('%A%m%d') %>" ).fadeTo( 0, 0.7, function() {
				  		});
				  		</script>
				  	<% end %>	 -->
		</div>	
	<% end %>
</div>

