<script>
  $(function() {
    $('.schedule-nav-contain a').bind('click',function(event){
      var $anchor = $(this);

      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1000,'easeInOutExpo');

      event.preventDefault();
    });
  });
</script>

<div class="schedule-nav-contain">
  <h1 class="schedule-header">Listing events</h1>
	<ul class="schedule-nav">
		<li class="schedule-nav-link">All Events</li>
		<li class="schedule-nav-link">Past Events</li>
		<% @event_date.sort.each do |date, events| %>
			<li class="schedule-nav-link">
			 <a href= <%= "#" + date.strftime('%A%m%d') %> ><%= date.strftime('%A %m/%d') %></a>
			</li>
		<% end %>
	</ul>
	<div class="venue-drop">
		Venue<span class="caret"></span>
	</div>
</div>

<% @event_date.sort.each do |date, events| %>

<h2 class="date-header" id= <%= date.strftime('%A%m%d') %> ><%= date.strftime('%A %m/%d') %></h2>
  <% for event in events %>
  		<div id=<%= date.strftime('%A') %> class="panel-group" id="accordion">
 				<div class="panel panel-default">
 				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#eventid<%=event.id%>">
		    	<div class="event-contain">
			    	<div class="event-contain-left">
			    		<h5><%= event.name.upcase %></h5>
			    		<img class="icon-standup">
			    		<img class="icon-openmic">
			    		<img class="icon-improv">
			    		<img class="icon-networking">
			    		<img class="icon-party">
			    		<img class="icon-poetry">
			    		<img class="icon-happyhour">
			    		<img class="icon-workshop">
			    		<img class="icon-podcast">
			    	</div>
			    	<div class="event-contain-right">
							<div class="event-contain-right-left">
								<p class="venue_name"><%= Venue.find(event.venue_id).name %></p>
								<p class="event-performers">
									<% for act in event.acts %>
										<% for pid in act.performer_act %>
											<%= Performer.find(pid).name %>
										<% end%>
									<% end%>
								</p>
							</div>
							<div class="event-contain-right-center">
								<p class="event_time"><%= event.start_time.strftime('%l:%M %p')%> - <%= event.end_time.strftime('%l:%M %p') %></p>
							</div>
							<div class="event-contain-right-right">
								<div id='star' style="float:left">
									<%= image_tag("star_unfilled.png", :height => 20)%>
								</div>
								<a href="#" 
								onclick="
								window.open(
								'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://pittsburghcomedyfestival.org/'), 
								'facebook-share-dialog', 
								'width=626,height=436'); 
								return false;">
								Share on Facebook
							</a>
							<a href="https://twitter.com/share" class="twitter-share-button" data-text="Very excited to see <% for act in event.acts %><% for pid in act.performer_act %><%= Performer.find(pid).name %><%end%><%end%> in <%= event.name %>!!" data-url="http://pittsburghcomedyfestival.org/" data-hashtags="PCF2014, PittsburghComedy" data-lang="en">Tweet</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="event-description">
							<%= event.description %>
						</div>
					</div>
				</a>
			</div>
			<div id="eventid<%=event.id%>" class="panel-collapse collapse">
				<div class="panel-body">
					<% event.acts.each do |act| %> 
					<li><%= act.name %><li>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<br>
	<% end %>
<% end %>

<br />
<% if can? :create, Event %>
<%= link_to 'New Event', new_event_path %>
<% end %>
