<script>
  $(function() {
    $('.schedule-nav-contain a').bind('click',function(event){
      var $anchor = $(this);

      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1000,'easeInOutExpo');

      event.preventDefault();
    });
  });
</script>
<div id="nav-bar"></div>
<h1 class="schedule-header">Listing events</h1>
<div class="schedule-nav-contain">
	<ul class="schedule-nav">
		<li class="schedule-nav-link">All Events</li>
		<li class="schedule-nav-link">Past Events</li>
		<% @event_date.sort.each do |date, events| %>
			<li class="schedule-nav-link">
			 <a href= <%= "#" + date.strftime('%A%m%d') %> ><%= date.strftime('%A %m/%d') %></a>
			</li>
		<% end %>
	</ul>
	<div class="venue-drop">
		Venue<span class="caret"></span>
	</div>
</div>


<% @event_date.sort.each do |date, events| %>

<h2 class="date-header" id= <%= date.strftime('%A%m%d') %> ><%= date.strftime('%A %m/%d') %></h2>
  <div class="panel-group accordion-group" id="<%=date.strftime('%A')%>">
		<% for event in events %>
 			<div class="panel">
 				<a class="accordion-toggle" data-toggle="collapse" data-parent="<%=date.strftime('%A')%>" href="#eventid<%=event.id%>">
		    	<div class="event-contain">
			    	<div class="event-contain-left">
			    		<h5><%= event.name.upcase %></h5>
			    		<img class="icon-standup" src="/assets/blank.png">
			    		<img class="icon-openmic" src="/assets/blank.png">
			    		<img class="icon-improv" src="/assets/blank.png">
			    		<img class="icon-networking" src="/assets/blank.png">
			    		<img class="icon-party" src="/assets/blank.png">
			    		<img class="icon-poetry" src="/assets/blank.png">
			    		<img class="icon-happyhour" src="/assets/blank.png">
			    		<img class="icon-workshop" src="/assets/blank.png">
			    		<img class="icon-podcast" src="/assets/blank.png">
			    	</div>
			    	<div class="event-contain-right">
							<div class="event-contain-right-left">
								<p class="venue_name"><%= Venue.find(event.venue_id).name %></p>
								<p class="event-performers">
									<% for act in event.acts %>
										<% for pid in act.performer_act %>
											<%= Performer.find(pid).name %>
										<% end%>
									<% end%>
								</p>
							</div>
							<div class="event-contain-right-center">
								<p class="event_time"><%= event.start_time.strftime('%l:%M %p')%> - <%= event.end_time.strftime('%l:%M %p') %></p>
							</div>
							<div class="event-contain-right-right">
								<div id='star' style="float:left">
									<%= image_tag("star_unfilled.png", :height => 20)%>
								</div>
								<a href="#" onclick="window.open(
								'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://pittsburghcomedyfestival.org/'), 
								'facebook-share-dialog','width=626,height=436'); return false;">Share on Facebook</a>
								<a href="https://twitter.com/share" class="twitter-share-button" data-text="Very excited to see <% for act in event.acts %><% for pid in act.performer_act %><%= Performer.find(pid).name %><%end%><%end%> in <%= event.name %>!!" data-url="http://pittsburghcomedyfestival.org/" data-hashtags="PCF2014, PittsburghComedy" data-lang="en">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
							<div class="event-description">
								<p class="description"><%= event.description %></p>
							</div>
						</div>
					</div>
				</a>
				<div class="panel-collapse collapse act-contain" id="eventid<%=event.id%>" >
				<% event.acts.each do |act| %> 
					<div class="act-left">
						<%= act.name %><img class="icon-<%= act.act_type %>">
					</div>
					<div class="act-right">
						<%= act.description %> ||
						<% for pid in act.performer_act %>
							<%= Performer.find(pid).name %>
						<% end %>
					</div>
				<% end %>
				</div>
			</div>
	<br>
	<% end %>
	</div>
<% end %>

<br />
<% if can? :create, Event %>
<%= link_to 'New Event', new_event_path %>
<% end %>
