<h1>Listing events</h1>
<% @event_date.sort.each do |date, events| %>
  <h2><%= date.strftime('%A %m/%d') %></h2>
  <% for event in events %>
    
      <strong><%= event.name %> in <%= Venue.find(event.venue_id).name %> starts at <%= event.start_time.strftime('%l:%M %p')%> ends at <%= event.end_time.strftime('%l:%M %p') %> <%= event.actslist%></strong><br>
      
    
  <% end %>
<% end %>

<br />

<%= link_to 'New Event', new_event_path %>
