<%= form_for(@performer) do |f| %>
  <% if @performer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performer.errors.count, "error") %> prohibited this performer from being saved:</h2>

      <ul>
      <% @performer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio %>
  </div>
  <div class="field">
    <%= f.label :performer_act_id %><br />
    <%= f.number_field :performer_act_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
