<h1>Listing performers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Twitter</th>
    <th>Email</th>
    <th>Bio</th>
    <th>Performer act</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performers.each do |performer| %>
  <tr>
    <td><%= performer.name %></td>
    <td><%= performer.twitter %></td>
    <td><%= performer.email %></td>
    <td><%= performer.bio %></td>
    <td><%= performer.performer_act_id %></td>
    <td><%= link_to 'Show', performer %></td>
    <td><%= link_to 'Edit', edit_performer_path(performer) %></td>
    <td><%= link_to 'Destroy', performer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Performer %>
<%= link_to 'New Performer', new_performer_path %>
<% end %>