<!DOCTYPE html>
<html>
<head>
  <title>PCF</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application-desktop", :media => "all" %>
  <%= javascript_include_tag "jquery", "application", "application-desktop" %>
  
  
	
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  <link href='/assets/jquery.fancybox.css' rel='stylesheet' type='text/css'>
	<!-- script below already called somewhere (Ryan) -->
	<!-- <script type="text/javascript" src="/assets/jquery.fancybox.js"></script> -->
  
  
</head>
<body data-spy="scroll" data-target="#navbar">
	<%= yield %>
</body>
</html>
