<!DOCTYPE html>
<html>
<head>
  <title>PCF</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application-desktop", :media => "all" %>
  <%= javascript_include_tag "jquery", "application" %>
	
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
